body{
    background-image: radial-gradient(#212121, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card{
    background: linear-gradient(whitesmoke, #f5f6fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-selection{
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(#fff070, #ffd670);
    height: 24rem;
}

.card-wrapper_articulo{
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(ghostwhite ,#d2ecec);
}

.card-selection-articulo{
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(ghostwhite , #d2ecec);
}

/* this is the style of an unchecked "button" */
.input-check{
    display:inline-block;
    height:20px;
    padding:5px 8px;
    background:green;
    width:70px;
    color:white
}
/* This is the style for a checked "button" */
.input-check.checked{
    background:red;
    color:black;
    font-weight:bold
}
/* Hide the checkbox */
.input-check input{
    display:none
}

.card-selection-revision{
    background-image: linear-gradient(#ddf8fa, #cae6fa);

}
